<!-- Sidenav -->
<mat-sidenav-container class="class-container">
  <mat-sidenav mode="side" opened="true" #sidenav class="sidenav" *ngIf="authService.isAuthenticated();">

  <img [src]="angularImage">

  <div class="menu-link">
    <button mat-button routerLink="/home">
      <mat-icon class="home">home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-button routerLink="/profile"
    [queryParams]="{profile: '1'}">
      <mat-icon class="about">face</mat-icon>
      <span>Profile</span>
    </button>

    <button mat-button routerLink="/contact">
      <mat-icon class="contact">email</mat-icon>
      <span>Notification</span>
    </button>

    <button mat-button routerLink="/misc">
      <mat-icon class="misc">burst_mode</mat-icon>
      <span>History</span>
    </button>

    <hr>

    <div *ngIf="!authService.isAuthenticated(); else logout">
      <button mat-button routerLink="/signup">
        <mat-icon class="signup">person_add</mat-icon>
        <span>Signup</span>
      </button>

      <button mat-button routerLink="/login">
        <mat-icon class="login">lock_open</mat-icon>
        <span>Login</span>
      </button>
    </div>

    <ng-template #logout>
      <button mat-button (click)="onLogout()">
        <mat-icon class="logout">lock_outline</mat-icon>
        <span>Logout</span>
      </button>
    </ng-template>
  </div>
</mat-sidenav>
<mat-sidenav-content>
<!-- Header -->
<mat-toolbar style="background-color:#1b1b1b" *ngIf="!authService.isAuthenticated();">

    <span><a href="/"><app-titlecase-pipe></app-titlecase-pipe></a></span>
  
    <!-- Sidenav activate -->
    <div class="sidenav-content">
      <button type="button" mat-icon-button (click)="sidenav.toggle()" style="color:#1b1b1b">
          <mat-icon>menu</mat-icon>
      </button>
    </div>
  
    <!-- Menu -->
    <span class="spacer"></span>
    <!--
    <div *ngIf="!authService.isAuthenticated();">
      <app-date-pipe></app-date-pipe>
    </div>
  -->
  
    <span class="spacer-light"></span>
  
      <div *ngIf="!authService.isAuthenticated(); else loggedin" style="color:white">
        <a routerLink="/signup" style="color:whitesmoke">Signup</a>&nbsp;&nbsp;
        <a routerLink="/login" style="color:whitesmoke">Signin</a>
      </div>
  
      <ng-template #loggedin>
          <h4>(User: {{userEmail()}})</h4>
  
          <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          </button>
  
          <mat-menu #menu="matMenu" >
  
            <!-- [routerLink]="['/profile', userUid(), userName()]" -->
            <a
              mat-menu-item
              routerLink="/profile"
              [queryParams]="{profile: '1'}" >
              <mat-icon class="profile">face</mat-icon>
              <span>Profile</span>
            </a>
  
            <!--
            <a mat-menu-item routerLink="/messages">
              <mat-icon class="messages">chat</mat-icon>
              <span>Messages</span>
            </a>
            -->
  
            <a mat-menu-item *ngFor="let item of menuItems" href="{{item.link}}">
              <mat-icon class="login">{{item.icon}}</mat-icon>
              <span>{{item.title}}</span>
            </a>
  
            <a
              mat-menu-item
              routerLink="/profile-settings"
              [queryParams]="{profile: '1'}"
              fragment="editProfile">
              <mat-icon class="settings">settings</mat-icon>
              <span>Settings</span>
            </a>
  
            <a mat-menu-item (click)="onLogout()">
              <mat-icon class="logout">lock_outline</mat-icon>
              <span>Logout</span>
            </a>
          </mat-menu>
  
        </ng-template>
  </mat-toolbar>
  <router-outlet></router-outlet>


</mat-sidenav-content>
</mat-sidenav-container>


